@import "@/styles/_variables.scss";

.button {
  color: $color-navigation;
  font-family: var("--font-furore");
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
  text-transform: uppercase;
}
