@import "@/styles/_variables.scss";

.select {
  max-width: 300px;
  padding: 3px 12px 4px 8px;
  font-family: var("--font-furore");
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $color-text;
  border: 1px solid $color-contour;
  background-color: $color-bg;

  &:focus {
    outline: none;
  }
}

.option {
  font-family: var("--font-furore");
  font-size: 14px;

  &:focus {
    font-family: var("--font-furore");
    font-size: 14px;
  }
}
