@import "@/styles/_variables.scss";

.container {
  display: flex;
  justify-content: space-between;

  .link {
    color: $color-navigation;
    font-family: var(--font-furore);
    font-size: 14px;

    &:hover {
      color: $color-hover-input;
    }
  }

  .links {
    .link {
      margin-left: 16px;
    }
  }
}
