@import '@/styles/_variables.scss';

.userContent {
  width: 100%;
  padding: 40px 50px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.theadBtn {
	width: 12px;
	height: 12px;
	background-image: url('~/assets/icons/light/table/arrow-thead.svg');
	margin-left: 2px;
}

.column {
	display: flex;
	align-items: center;
}

.btn {
  background-image: url('~/assets/icons/light/table/arrow-column.svg');
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}