@import '@/styles/_variables.scss';

.userContent {
  width: 100%;
  padding: 40px 50px;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .theadBtn {
    width: 12px;
    height: 12px;
    background-image: url('~/assets/icons/light/table/arrow-thead.svg');
    margin-left: 2px;
  }

  .column {
    display: flex;
    align-items: center;
  }

  .btn {
    background-image: url('~/assets/icons/light/table/arrow-column.svg');
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .link {
    background-color: $color-contour;
    padding: 8px 30px 10px 30px;
    margin-right: 20px;
    color: $color-white;
    font-family: 'Furore';
    font-size: 14px;
    font-weight: 300;
    clip-path: polygon(2% 16.21%, 0% 16.01%, 0% 0%, 95% 0%, 100% 30.42%, 100% 5%, 100% 100%, 100% 99.4%, 0% 99.4%, 0% 84.2%, 2% 84.2%);
  }
}
