@import '@/styles/_variables.scss';

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0 20px;

  .dropdownContent {
    display: flex;
    flex-direction: row;

    .link {
      font-family: var(--font-jost);
      font-size: 16px;
      margin-right: 40px;

      &:hover{
        text-decoration: underline;
      }
    }
  }

}
