@import '@/styles/_variables.scss';

.sidebar {
	width: 40px;
  height: 100vh;
  border: 1px solid $color-contour;
	display: flex; 
  flex-direction: column;

	button {
		width: 40px;
		height: 40px;
		padding: 5px 10px;
		border: 1px solid $color-contour;
	}
}

.sidebarOpen {
	width: 330px;
	height: 100vh;
	border: 1px solid $color-contour;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	animation: slideOpen 0.3s ease;

	button {
		margin-left: 290px;
		width: 40px;
		height: 40px;
		padding: 5px 10px;
		border: 1px solid $color-contour;
	}
}
